@import '../variables';

%button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.red {
  @extend %button;
  background-color: $red;
  box-shadow: 0 8px 0 0 $red-2;
}

.green {
  @extend %button;
  background-color: $green;
  box-shadow: 0 8px 0 0 $green-2;
}

.blue {
  @extend %button;
  background-color: $blue;
  box-shadow: 0 8px 0 0 $blue-2;
}

.yellow {
  @extend %button;
  background-color: $yellow;
  box-shadow: 0 8px 0 0 $yellow-2;
}
